{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"> {# Bootstrap 3 uses pull-right #}
        <button type="submit" form="form-payment-hutko" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button> {# Font Awesome icons common in OC3 #}
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb"> {# Bootstrap 3 breadcrumb structure #}
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">×</button> {# Bootstrap 3 dismiss #}
    </div>
    {% endif %}
    <div class="panel panel-default"> {# Bootstrap 3 panel #}
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment-hutko" class="form-horizontal"> {# Bootstrap 3 form-horizontal common #}
          {# Tab Navigation for Bootstrap 3 #}
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-order-statuses" data-toggle="tab">{{ tab_order_statuses }}</a></li>
            <li><a href="#tab-fiscalization" data-toggle="tab">{{ tab_fiscalization }}</a></li>
            <li><a href="#tab-advanced" data-toggle="tab">{{ tab_advanced }}</a></li>
            <li><a href="#tab-logs" data-toggle="tab">{{ tab_logs }}</a></li>
          </ul>

          {# Tab Content for Bootstrap 3 #}
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              {# General Settings Fields - Bootstrap 3 form-group structure #}
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-merchant-id">{{ entry_merchant_id }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_hutko_merchant_id" value="{{ payment_hutko_merchant_id }}" placeholder="{{ entry_merchant_id }}" id="input-merchant-id" class="form-control"/>
                  <span class="help-block">{{ text_info_merchant }}</span> {# Bootstrap 3 help-block #}
                  {% if error_merchant_id %}
                  <div class="text-danger">{{ error_merchant_id }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-secret-key">{{ entry_secret_key }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_hutko_secret_key" value="{{ payment_hutko_secret_key }}" placeholder="{{ entry_secret_key }}" id="input-secret-key" class="form-control"/>
                  <span class="help-block">{{ text_info_secret }}</span>
                  {% if error_secret_key %}
                  <div class="text-danger">{{ error_secret_key }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-total">{{ entry_total }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_hutko_total" value="{{ payment_hutko_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control"/>
                  <span class="help-block">{{ help_total }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                <div class="col-sm-10">
                  <select name="payment_hutko_geo_zone_id" id="input-geo-zone" class="form-control">
                    <option value="0">{{ text_all_zones }}</option>
                    {% for geo_zone in geo_zones %}
                    {% if geo_zone.geo_zone_id == payment_hutko_geo_zone_id %}
                    <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                    {% else %}
                    <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_hutko_status" id="input-status" class="form-control">
                    {% if payment_hutko_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_hutko_sort_order" value="{{ payment_hutko_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-order-statuses">
              {# Order Statuses Fields #}
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-new-order-status">{{ entry_new_order_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_hutko_new_order_status_id" id="input-new-order-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_hutko_new_order_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  <span class="help-block">{{ help_new_order_status }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-success-status">{{ entry_success_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_hutko_success_status_id" id="input-success-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_hutko_success_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  <span class="help-block">{{ help_success_status }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-declined-status">{{ entry_declined_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_hutko_declined_status_id" id="input-declined-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_hutko_declined_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-expired-status">{{ entry_expired_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_hutko_expired_status_id" id="input-expired-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_hutko_expired_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-refunded-status">{{ entry_refunded_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_hutko_refunded_status_id" id="input-refunded-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_hutko_refunded_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-fiscalization">
              {# Fiscalization Fields #}
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_shipping_include }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline"> {# Bootstrap 3 radio-inline #}
                    <input type="radio" name="payment_hutko_shipping_include" value="1" {% if payment_hutko_shipping_include == '1' %}checked="checked"{% endif %} />
                    {{ text_yes }}
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="payment_hutko_shipping_include" value="0" {% if payment_hutko_shipping_include == '0' or payment_hutko_shipping_include == '' %}checked="checked"{% endif %} />
                    {{ text_no }}
                  </label>
                  <span class="help-block">{{ help_shipping_include }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-shipping-product-name">{{ entry_shipping_product_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_hutko_shipping_product_name" value="{{ payment_hutko_shipping_product_name }}" placeholder="{{ entry_shipping_product_name }}" id="input-shipping-product-name" class="form-control"/>
                  <span class="help-block">{{ help_shipping_product_name }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-shipping-product-code">{{ entry_shipping_product_code }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_hutko_shipping_product_code" value="{{ payment_hutko_shipping_product_code }}" placeholder="{{ entry_shipping_product_code }}" id="input-shipping-product-code" class="form-control"/>
                  <span class="help-block">{{ help_shipping_product_code }}</span>
                </div>
              </div>
            </div>
            
            <div class="tab-pane" id="tab-advanced">
              {# Advanced Settings Fields #}
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_include_discount_to_total }}</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="payment_hutko_include_discount_to_total" value="1" {% if payment_hutko_include_discount_to_total == '1' %}checked="checked"{% endif %} />
                    {{ text_yes }}
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="payment_hutko_include_discount_to_total" value="0" {% if payment_hutko_include_discount_to_total == '0' or payment_hutko_include_discount_to_total == '' %}checked="checked"{% endif %} />
                    {{ text_no }}
                  </label>
                  <span class="help-block">{{ help_include_discount_to_total }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_save_logs }}</label>
                <div class="col-sm-10">
                   <label class="radio-inline">
                    <input type="radio" name="payment_hutko_save_logs" value="1" {% if payment_hutko_save_logs == '1' %}checked="checked"{% endif %} />
                    {{ text_yes }}
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="payment_hutko_save_logs" value="0" {% if payment_hutko_save_logs == '0' or payment_hutko_save_logs == '' %}checked="checked"{% endif %} />
                    {{ text_no }}
                  </label>
                  <span class="help-block">{{ help_save_logs }}</span>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-logs">
              {# Logs Content #}
              <h4>{{ heading_title }} - {{ tab_logs }}</h4>
              <div id="log-viewer">
                  {{ log_content|raw }}
              </div>
            </div>
          </div> {# End tab-content #}
        </form>
      </div> {# End panel-body #}
    </div> {# End panel #}
  </div> {# End container-fluid #}
</div> {# End content #}
{{ footer }}